<div class="song-container">
  <app-searchbar (searchTermEmitter)="onTermChange($event)"></app-searchbar>

  <mat-grid-list cols="4" gutterSize="1em" rowHeight="450">
      <mat-grid-tile *ngFor="let song of (songs | trackFilter:filterSong)">
        <mat-card>
          <img mat-card-image src={{song.album.albumArt}} />
          <mat-card-content>
            <ng-container  *ngFor="let playlist of song.playlists">
              {{playlist}}.
            </ng-container>
            <br/>
            {{song.name}} <br />
            {{song.artistName}}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>




