.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li, ul, ol {
  list-style-type: none;
}

.mat-card {
  min-height: 400px;
  max-height: 350px;
  max-width: 300px;
  border: 1px solid grey;
}

.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}


.playlistButton {
  background-color: lightblue;
}

.header-container {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playlist-overlay {
  position: relative;
  bottom: 50px;
}
