.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li, ul, ol {
  list-style-type: none;
}

.mat-card {
  max-width: 300px;
  border: 1px solid grey;
}

.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}

.playlist-overlay {
  margin-bottom: 25px;
}
